<h1>
  Mise à jour ressource
</h1>
<div class="row">
  <div class="col-md-6 col-xs-12">
    <div class="row">
      <label for="lastName" class="col-md-4 col-xs-12">Nom</label>
      <input type="text" class="col-md-6 col-xs-12" id="lastMame" value={{lastName}} required>
    </div>
    <div class="row">
      <label for="firstName" class="col-md-4 col-xs-12">Prenom</label>
      <input type="text" class="col-md-6 col-xs-12" id="firstName" value={{firstName}} required>
    </div>
    <div class="row">
      <label for="address" class="col-md-4 col-xs-12">Adresse</label>
      <input type="text" class="col-md-6 col-xs-12" id="address" value={{address}} required>
    </div>
    <div class="row">
      <label for="phone" class="col-md-4 col-xs-12">Téléphone 1</label>
      <input type="text" class="col-md-6 col-xs-12" id="phone" value={{phone}}
        required >
    </div>
    <div class="row">
      <label for="phone2" class="col-md-4 col-xs-12">Téléphone 2</label>
      <input type="text" class="col-md-6 col-xs-12" id="phone2" value={{phone2}} >
    </div>
    <div class="row">
      <label for="email" class="col-md-4 col-xs-12">Email</label>
      <input type="email" class="col-md-6 col-xs-12" name="email" value={{email}} [ngModel]="ressource.email"
          required pattern="^[a-zA-Z0–9_.+-]+@[a-zA-Z0–9-]+.[a-zA-Z0–9-.]+$" #email="ngModel" ><br><br>
      <small [hidden]="email.valid || (email.pristine && !f.submitted)">
          Le Email est requis et le format doit être <i>exemple@exemple.com</i>.
      </small>
    </div>
    <div class="row">
      <label for="login" class="col-md-4 col-xs-12">Login</label>
      <input type="text" class="col-md-6 col-xs-12" id="login" value={{login}} required>
    </div>
    <div class="row">
        <label class="col-md-4 col-xs-12">Mot de passe</label>
        <input type="password" class="col-md-6 col-xs-12" name="password" value={{password}} [ngModel]="ressource.password"
            required #password="ngModel"><br><br>
        <small [hidden]="password.valid || (password.pristine && !f.submitted)">
            Le mot de passe est requis
        </small>
    </div>
    <div class="row">
        <label class="col-md-4 col-xs-12">Réécrire le mot de passe</label>
        <input type="password" class="col-md-6 col-xs-12" name="confirmPassword" value={{password}} [ngModel]="ressource.confirmPassword"
            required validateEqual="password" #confirmPassword="ngModel"><br><br>
        <small [hidden]="confirmPassword.valid ||  (confirmPassword.pristine && !f.submitted)">
            Le mot de passe n'est pas identique
        </small>
    </div>
    <div class="row">
      <label for="createdBy" class="col-md-4 col-xs-12">Ressource créé par</label>
      <select  class="col-md-6 col-xs-12" id="createdBy" required>
        <option *ngFor="let cb of createdBys" [value]="cb">{{createdBy}}</option>
      </select>
    </div>
    <div class="row">
      <label for="ressourceType" class="col-md-4 col-xs-12">Type de ressource</label>
      <select class="col-md-6 col-xs-12" id="ressourceType" required>
        <option *ngFor="let rt of ressourceTypes" [value]="rt">{{ressourceType}}</option>
      </select>
    </div>
    <div class="row">
      <label for="region" class="col-md-4 col-xs-12">Region</label>
      <select class="col-md-6 col-xs-12" id="region" required>
        <option *ngFor="let r of regions" [value]="r">{{region}}</option>
      </select>
    </div>
  </div>
</div>

<button type="button" pButton icon="fa-check" label="Sauvegarder" (click)="toUpdateRessource()"></button>
