@import '../../variables.scss';

.row{
  margin-bottom: 10px;
  .col-xs-12{
    margin-bottom: 5px;
  }
  @media screen and (min-width: $screen-md-width) {
    .col-md-3{
        text-align: right;
    }
  }
}
