<div class="paperCol">
  <div class="contentBoxTitle"><span>CAAPA</span></div>
  <div class="row">
    <div class="col-md-3 col-xs-12">Nom d'utilisateur</div>
    <input class="col-md-6 col-xs-12" type="text" pInputText [(ngModel)]="webservice.username" />
  </div>
  <div class="row">
    <div class="col-md-3 col-xs-12">Mot de passe</div>
    <input ppassword [(ngModel)]="webservice.password" type="password" class="col-md-6 col-xs-12 ui-inputtext ui-corner-all ui-state-default ui-widget ui-state-filled">
  </div>
  <div class="row">
    <button class="pull-right" pButton type="text" (click)="login()" icon="fa-sign-in" iconPos="right" label="Entrer"></button>
  </div>
</div>
