<form class="form-style-9">
  <h1>Problème #{{probleme?.idproblem}} : {{probleme?.description}} <input type="submit" value="Edit" /></h1>
  <div class="form-style-10">

<ul>
<li>
    <h3>Demande : <a>#{{probleme?.demande?.iddemande}} : {{probleme?.demande?.description}}</a></h3>
    <h3>Status : {{probleme?.status}}</h3>
</li>
<li>
  <h3>Recommendation : {{probleme?.recommentation}}</h3>
  <h3>Thème : <a>{{probleme?.theme?.description}}</a></h3>
</li>
<li>
</li>
</ul>
  <div>
    <h2>Problèmes reliés</h2>
    <ul>
      <li *ngFor="let prob of probleme?.problems">
        <a>#{{prob?.idproblem}} : {{prob?.description}}</a>
      </li>
    </ul>
  </div>
  <div>
    <h2>Interventions reliés</h2>
    <ul>
      <li *ngFor="let interv of probleme?.interventions">
        <a>#{{interv?.id}} : {{interv?.description}}</a>
      </li>
    </ul>
  </div>
  <div>
    <h2>Documents reliés</h2>
    <ul>
      <li *ngFor="let docs of probleme?.documents">
        <a>#{{docs?.id}} : {{docs?.title}}</a>
      </li>
    </ul>
  </div>
</div>
</form>
