<div class="row">
  <div class="col-xs-4">Prénom: </div>
  <div class="col-xs-8">{{ contact?.firstName }}</div>
</div>
<div class="row">
  <div class="col-xs-4">Nom: </div>
  <div class="col-xs-8">{{ contact?.lastName }}</div>
</div>
<div class="row">
  <div class="col-xs-4">Adresse: </div>
  <div class="col-xs-8">{{ contact?.address }}</div>
</div>
<div class="row">
  <div class="col-xs-4">Téléphone 1: </div>
  <div class="col-xs-8">{{ contact?.phone }}</div>
</div>
<div class="row">
  <div class="col-xs-4">Téléphone 2: </div>
  <div class="col-xs-8">{{ contact?.phone2 }}</div>
</div>
<div class="row">
  <div class="col-xs-4">Email: </div>
  <div class="col-xs-8">{{ contact?.email }}</div>
</div>
