<div id="statistique">
  <div class="contentBoxTitle"><span>Interventions par thème</span></div>
  <button (click)="refreshData(chart)" *ngIf="display">Afficher</button>
  <p>{{message}}</p>
  <p-chart #chart type="pie" [data]="data"></p-chart>
</div>
