<div class="contentBoxTitle"><span>Ressources</span></div>
<p-dataTable [value]="values" [rows]="10" [paginator]="true">
    <p-column field="firstName" header="Prenom" styleClass="col-md-2">
      <template let-col let-value="rowData" pTemplate type="body">
        <a routerLink="value.constructor.name">{{value[col.field]}}</a> <!-- TODO: fix link -->
      </template></p-column>
    <p-column field="lastName" header="Nom" styleClass="col-md-10"></p-column>
    <p-column field="phone1" header="Téléphone principal" styleClass="col-md-2"></p-column>
    <p-column field="phone2" header="Téléphone secondaire" styleClass="col-md-2"></p-column>
    <p-column field="email" header="Email" styleClass="col-md-4"></p-column>
</p-dataTable>
<app-create [service]="ressourceService"></app-create>
