<div>
  <h1>Ajouter une région</h1>
  <div class="row">
    <label for="" class="col-xs-3">Nom : </label>
    <input type="text" class="col-xs-6" [(ngModel)]="nameRegion" name="regionName" id="regionName" required minlength="1">
    <small *ngIf="nameRegion.valid" class="col-xs-3">
        Le nom doit contenir au moins 1 caractère.
    </small>
    <pre *ngIf="nameRegion.errors">{{ nameRegion.errors | json }}</pre>
  </div>
  <button type="submit" pButton label="Sauvegarder" (Click)="CreateARegion()"></button>
</div>
