<div>
  <div class="contentBoxTitle"><span>Interventions</span></div>
  <p-dataTable [value]="interventions" [rows]="20" [paginator]="true" selectionMode="single" [(selection)]="selectedIntervention" (onRowSelect)="onRowSelect($event)" [responsive]="true" [resizableColumns]="true">
      <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" sortable="true"></p-column>
      <footer><div class="ui-helper-clearfix" style="width:100%"></div></footer>
  </p-dataTable>
  <!-- à ajouter dans chaque liste -->
  <app-create [service]="interventionService"></app-create>
</div>
