<h1>
  Creation contact
</h1>
<div class="row">
  <div class="col-md-6 col-xs-12">
    <div class="row">
      <label for="lastName" class="col-md-5 col-xs-12">Nom</label>
      <input type="text" class="col-md-6 col-xs-12" id="lastMame" required>
    </div>
    <div class="row">
      <label for="firstName" class="col-md-5 col-xs-12">Prenom</label>
      <input type="text" class="col-md-6 col-xs-12" id="firstName" required>
    </div>
    <div class="row">
      <label for="address" class="col-md-5 col-xs-12">Adresse</label>
      <input type="text" class="col-md-6 col-xs-12" id="address" required>
    </div>
    <div class="row">
      <label for="phone" class="col-md-5 col-xs-12">Téléphone 1</label>
      <input type="text" class="col-md-6 col-xs-12" id="phone" required>
    </div>
    <div class="row">
      <label for="alterEgo" class="col-md-5 col-xs-12">Téléphone 2</label>
      <input type="text" class="col-md-6 col-xs-12" id="phone2">
    </div>
    <div class="row">
      <label for="email" class="col-md-5 col-xs-12">Email</label>
      <input type="email" name="email" class="col-md-6 col-xs-12" [ngModel]="newContact.email"
          required pattern="^[a-zA-Z0–9_.+-]+@[a-zA-Z0–9-]+.[a-zA-Z0–9-.]+$"><br><br>
      <!--<small [hidden]="email.valid || (email.pristine && !f.submitted)">
          Le Email est requis et le format doit être <i>exemple@exemple.com</i>.
      </small>-->
    </div>
  </div>
</div>
<button type="button" pButton icon="fa-check" label="Sauvegarder" (click)="toCreateContact()"></button>
