<a [routerLink]="['/chart-intervention-per-location']">Intervention par lieu</a>
<a [routerLink]="['/chart-intervention-per-region']">Intervention par région</a>
<a [routerLink]="['/chart-intervention-per-theme']">Intervention par thème</a>
<a [routerLink]="['/chart-intervention-per-period']">Intervention par période</a>
<!--a [routerLink]="['/chart-clients']">Clients Informations</a-->
