<h1>
  Edit contact
</h1>
<table class="table">
  <thead>
    <tr>
      <td>ID</td>
      <td>Nom</td>
      <td>Prenom</td>
      <td>Adresse</td>
      <td>Téléphone 1</td>
      <td>Téléphone 2</td>
      <td>Email</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{id}}</td>
      <td>{{lastName}}</td>
      <td>{{firstName}}</td>
      <td>{{address}}</td>
      <td>{{phone}}</td>
      <td>{{phone2}}</td>
      <td>{{email}}</td>
    </tr>
  </tbody>
</table>
