<div class="contentBoxTitle"><span>Régions</span></div>
<p-dataTable [value]="regions" [rows]="10" [paginator]="true">
    <p-column field="regionName" header="Nom" styleClass="col-xs-12">
      <template let-col let-value="rowData" pTemplate type="body">
        <a routerLink="/regionReads/{{value.idregion}}">{{value.regionName}}</a>
      </template>
    </p-column>
</p-dataTable>
<app-create [service]="regionService"></app-create>
