<div>
  <h1>Ajouter un type de ressource</h1>
  <div class="row">
    <label for="" class="col-xs-3">Label : </label>
    <input type="text" class="col-xs-6" [(ngModel)]="labelRessourceType" name="labelRessourceType" id="labelRessourceType" required minlength="1">
    <small *ngIf="labelRessourceType.valid" class="col-xs-3">
        Le label doit contenir au moins 1 caractère.
    </small>
    <pre *ngIf="labelRessourceType.errors">{{ labelRessourceType.errors | json }}</pre>
  </div>
  <button type="submit" pButton label="Sauvegarder" (Click)="CreateARessourceType()"></button>
</div>
