<h1>
  Edit client
</h1>
<table class="table">
  <thead>
    <tr>
      <td>ID</td>
      <td>Nom</td>
      <td>Prenom</td>
      <td>Adresse</td>
      <td>Téléphone 1</td>
      <td>Téléphone 2</td>
      <td>Email</td>
      <td>Sexe</td>
      <td>Vie seul</td>
      <td>État matrimonial</td>
      <td>Date de naissance</td>
      <td>Type d'habitation</td>
      <td>En attente d'habitation</td>
      <td>Region</td>
      <td>Contact d'urgence</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{id}}</td>
      <td>{{lastName}}</td>
      <td>{{firstName}}</td>
      <td>{{address}}</td>
      <td>{{phone}}</td>
      <td>{{phone2}}</td>
      <td>{{email}}</td>
      <td>{{sex}}</td>
      <td>{{isAlone}}</td>
      <td>{{maritalStatus}}</td>
      <td>{{birthday}}</td>
      <td>{{typeHabitation}}</td>
      <td>{{enAttenteHabitation}}</td>
      <td>{{region}}</td>
      <td *ngFor='let cu of contactUrgencearr'>
        {{cu.contactUrgence}}
      </td>
    </tr>
  </tbody>
</table>
