<div>
  <div class="row">
    <div class="col-md-6">
      <div class="contentBoxTitle"><span>Calendrier</span></div>
      <p-schedule [events]="calendarEvents"></p-schedule>
    </div>
    <div class="col-md-6">
      <div class="contentBoxTitle"><span>Attribués à moi</span></div>
      <app-assigned-list [values]="overviewItems"></app-assigned-list>
    </div>
  </div>
</div>
