<div class="contentBoxTitle"><span>Clients</span></div>
<p-dataTable [value]="clients" [rows]="10" [paginator]="true">
    <p-column field="contact" header="Prénom" styleClass="col-md-2">
      <template let-col let-value="rowData" pTemplate type="body">
        <a routerLink="/clientDetails/{{value.idclient}}">{{ value[col.field].firstName }}</a>
      </template>
    </p-column>
    <p-column field="contact.lastName" header="Nom" styleClass="col-md-2"></p-column>
    <p-column field="contact.phone" header="Téléphone principal" styleClass="col-md-2"></p-column>
    <p-column field="contact.phone2" header="Téléphone secondaire" styleClass="col-md-2"></p-column>
    <p-column field="contact.email" header="Email" styleClass="col-md-4"></p-column>
</p-dataTable>
<app-create [service]="dao"></app-create>
<span style="height:30px;"></span>
