<div id="navbar">
  <!--routerLinkActive="is-active"-->

  <!--Accueil & My demandes & My Intervention-->
  <div class="navbarLinkSection">
    <!--Accueil-->
    <a routerLink="/home">
      <div class="row">
        <div class="menuIcon">
          <div><i class="fa fa-home"></i></div>
        </div>
        <div class="menuText">
          <p>Accueil</p>
        </div>
      </div>
    </a>
    <div class="navbarSublink">
      <!--My Demandes-->
      <a routerLink="/mydemandes">
        <div class="row">
          <div class="menuIcon">
            <div><i class="fa fa-inbox"></i></div>
          </div>
          <div class="menuText">
            <p>Mes demandes</p>
          </div>
        </div>
      </a>
      <!--My Interventions-->
      <a routerLink="/myinterventions">
        <div class="row">
          <div class="menuIcon">
            <div><i class="fa fa-handshake-o"></i></div>
          </div>
          <div class="menuText">
            <p>Mes interventions</p>
          </div>
        </div>
      </a>
    </div>
  </div>

  <!--Client-->
  <div class="navbarLinkSection">
    <a routerLink="/client">
      <div class="row">
        <div class="menuIcon">
          <div><i class="fa fa-users"></i></div>
        </div>
        <div class="menuText">
          <p>Clients</p>
        </div>
      </div>
    </a>
  </div>

  <!--Contact-->
  <div class="navbarLinkSection">
    <a routerLink="/contact">
      <div class="row">
        <div class="menuIcon">
          <div><i class="fa fa-address-book"></i></div>
          <!--div><i class="fa fa-address-card"></i></div-->
        </div>
        <div class="menuText">
          <p>Contacts</p>
        </div>
      </div>
    </a>
  </div>

  <!--Ressource & RessourceType-->
  <div class="navbarLinkSection">
    <!--Ressource-->
    <a routerLink="/ressource" >
      <div class="row">
        <div class="menuIcon">
          <div><i class="fa fa-user-circle-o"></i></div>
        </div>
        <div class="menuText">
          <p>Ressources</p>
        </div>
      </div>
    </a>
    <div class="navbarSublink">
      <!--RessourceType-->
      <a routerLink="/typeressource">
        <div class="row">
          <div class="menuIcon">
            <div><i class="fa fa-info"></i></div>
          </div>
          <div class="menuText">
            <p>Types de ressource</p>
          </div>
        </div>
      </a>
    </div>
  </div>

  <!--Region-->
  <div class="navbarLinkSection">
    <a routerLink="/region">
      <div class="row">
        <div class="menuIcon">
          <div><i class="fa fa-globe"></i></div>
        </div>
        <div class="menuText">
          <p>Régions</p>
        </div>
      </div>
    </a>
  </div>

  <!--Demande & Reference-->
  <div class="navbarLinkSection">
    <!--Demande-->
    <a routerLink="/demande">
      <div class="row">
        <div class="menuIcon">
          <div><i class="fa fa-inbox"></i></div>
        </div>
        <div class="menuText">
          <p>Demandes</p>
        </div>
      </div>
    </a>
    <div class="navbarSublink">
      <!--Reference-->
      <a routerLink="/reference">
        <div class="row">
          <div class="menuIcon">
            <div><i class="fa fa-paper-plane"></i></div>
          </div>
          <div class="menuText">
            <p>References</p>
          </div>
        </div>
      </a>
    </div>
  </div>

  <!--Evenement & Theme & Document-->
  <div class="navbarLinkSection">
    <!--Evenement-->
    <a routerLink="/evenement">
      <div class="row">
        <div class="menuIcon">
          <div><i class="fa fa-exclamation-triangle"></i></div>
        </div>
        <div class="menuText">
          <p>Évènements</p>
        </div>
      </div>
    </a>
    <div class="navbarSublink">
      <!--Theme-->
      <a routerLink="/theme">
        <div class="row">
          <div class="menuIcon">
            <div><i class="fa fa-paint-brush"></i></div>
          </div>
          <div class="menuText">
            <p>Themes</p>
          </div>
        </div>
      </a>
      <!--Document-->
      <a routerLink="/document">
        <div class="row">
          <div class="menuIcon">
            <div><i class="fa fa-folder-open"></i></div>
          </div>
          <div class="menuText">
            <p>Documents</p>
          </div>
        </div>
      </a>
    </div>

  <!--Intervention & InterventionType-->
  <div class="navbarLinkSection">
    <!--Intervention-->
    <a routerLink="/intervention">
      <div class="row">
        <div class="menuIcon">
          <div><i class="fa fa-handshake-o"></i></div>
        </div>
        <div class="menuText">
          <p>Interventions</p>
        </div>
      </div>
    </a>
    <div class="navbarSublink">
      <!--InterventionType-->
      <a routerLink="/typeintervention">
        <div class="row">
          <div class="menuIcon">
            <div><i class="fa fa-ticket"></i></div>
          </div>
          <div class="menuText">
            <p>Types d'intervention</p>
          </div>
        </div>
      </a>
    </div>
  </div>

  <!--Statistique-->
  <div class="navbarLinkSection">
    <a routerLink="/chart-intervention-per-location">
      <div class="row">
        <div class="menuIcon">
          <div><i class="fa fa-bar-chart"></i></div>
          <!--div><i class="fa fa-pie-chart"></i></div-->
        </div>
        <div class="menuText">
          <p>Statistiques</p>
        </div>
      </div>
    </a>
  </div>
</div>
