@import '../../../variables.scss';

#navbar{
  background-color: $primary;
  margin-bottom: $betweenElements;
  list-style-type: none;
  text-align: center;

  .navbarLinkSection{
    & > a[routerLink^="/"],
    & > .navbarSublink > a[routerLink^="/"]{
      display: block;
      color: $primary-dark;
      position: relative;

      .row > div[class^="menu"]{
        div{
          i.fa{
            font-size: $iconSize;
          }
        }

        p{
          text-align: left;
          margin: 0;
          margin-left: -$betweenElements; //coller au menu button
          padding-left: $paddingElements;
          @media only screen and (min-width: $screen-sm-width) and (max-width: $screen-md-width - 1)  {
                padding-left: 10px;
                font-size: 0.8em;
          }
        }

        a.buttonSublink{
          $buttonSize: $buttonHeight/2.5;
          position: absolute;
          top:$buttonHeight/2 - $buttonSize/2;
          right:$buttonHeight/4;

          width: $buttonSize;
          height: $buttonSize;
          line-height: $buttonSize;

          border-radius: 25px;
          color:white;
          z-index: 15;

          -webkit-transition: all 500ms linear;
          -moz-transition: all 500ms linear;
          -ms-transition: all 500ms linear;
          transition: all 500ms linear;

          &:hover{
            background-color: $secondary;
          }
        }

        &.menuAbsolute{
          position: absolute;
          top: 0;
          left: 100%;
          z-index: 10;
          width: 250%;
          margin-left: $betweenElements/2;
        }
      }
    }

    & > a[routerLink^="/"]{
      div, p{
        //center vertical
        height: $buttonHeight;
        line-height: $buttonHeight;
      }

      &:hover{
        background-color: $tertiary;
        .row > div[class^="menu"]{
            div{
               i.fa{
                 color: $primary;
               }
            }
            p{
              background-color: $secondary-darker;
              color: $primary !important;
            }
        }
      }

      .row > div[class^="menu"]{
        div{
          border-bottom: solid $primary-dark 1px;
        }
        p{
          background-color: $secondary-dark;
          border-bottom: solid $secondary 1px;
        }
      }
    }

    & > .navbarSublink > a[routerLink^="/"]{
      background-color: $secondary-darker;
      color: darken($primary, 25%);

      div,
      p,
      .row > div[class^="menu"] div i.fa{
        //center vertical
        height: $buttonHeight/1.8;
        line-height: $buttonHeight/1.8;
      }

      &:hover{
        &,
        .row > div[class^="menu"] p{
          background-color: darken($secondary-dark, 10%);
        }
      }

      .row > div[class^="menu"]{
        div{
          border-bottom: solid $secondary 1px;
        }
        p{
          background-color: $secondary-darker;
          border-bottom: solid $secondary 1px;
        }
      }
    }
  }

  &.mobileMenuAbsolute{
    position: absolute;
    top: -14px;
    width: 100%;
    z-index: 10;
  }
}
