#navbar {
  background-color: white;
  margin-bottom: 14px;
  list-style-type: none;
  text-align: center;
}

#navbar .navbarLinkSection > a[routerLink^="/"],
#navbar .navbarLinkSection > .navbarSublink > a[routerLink^="/"] {
  display: block;
  color: #C6CED1;
  position: relative;
}

#navbar .navbarLinkSection > a[routerLink^="/"] .row > div[class^="menu"] div i.fa,
#navbar .navbarLinkSection > .navbarSublink > a[routerLink^="/"] .row > div[class^="menu"] div i.fa {
  font-size: 1.5em;
}

#navbar .navbarLinkSection > a[routerLink^="/"] .row > div[class^="menu"] p,
#navbar .navbarLinkSection > .navbarSublink > a[routerLink^="/"] .row > div[class^="menu"] p {
  text-align: left;
  margin: 0;
  margin-left: -14px;
  padding-left: 16px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #navbar .navbarLinkSection > a[routerLink^="/"] .row > div[class^="menu"] p,
  #navbar .navbarLinkSection > .navbarSublink > a[routerLink^="/"] .row > div[class^="menu"] p {
    padding-left: 10px;
    font-size: 0.8em;
  }
}

#navbar .navbarLinkSection > a[routerLink^="/"] .row > div[class^="menu"] a.buttonSublink,
#navbar .navbarLinkSection > .navbarSublink > a[routerLink^="/"] .row > div[class^="menu"] a.buttonSublink {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 25px;
  color: white;
  z-index: 15;
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -ms-transition: all 500ms linear;
  transition: all 500ms linear;
}

#navbar .navbarLinkSection > a[routerLink^="/"] .row > div[class^="menu"] a.buttonSublink:hover,
#navbar .navbarLinkSection > .navbarSublink > a[routerLink^="/"] .row > div[class^="menu"] a.buttonSublink:hover {
  background-color: #4B607B;
}

#navbar .navbarLinkSection > a[routerLink^="/"] .row > div[class^="menu"].menuAbsolute,
#navbar .navbarLinkSection > .navbarSublink > a[routerLink^="/"] .row > div[class^="menu"].menuAbsolute {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  width: 250%;
  margin-left: 7px;
}

#navbar .navbarLinkSection > a[routerLink^="/"] div, #navbar .navbarLinkSection > a[routerLink^="/"] p {
  height: 60px;
  line-height: 60px;
}

#navbar .navbarLinkSection > a[routerLink^="/"]:hover {
  background-color: #56CAC9;
}

#navbar .navbarLinkSection > a[routerLink^="/"]:hover .row > div[class^="menu"] div i.fa {
  color: white;
}

#navbar .navbarLinkSection > a[routerLink^="/"]:hover .row > div[class^="menu"] p {
  background-color: #142840;
  color: white !important;
}

#navbar .navbarLinkSection > a[routerLink^="/"] .row > div[class^="menu"] div {
  border-bottom: solid #C6CED1 1px;
}

#navbar .navbarLinkSection > a[routerLink^="/"] .row > div[class^="menu"] p {
  background-color: #263A55;
  border-bottom: solid #4B607B 1px;
}

#navbar .navbarLinkSection > .navbarSublink > a[routerLink^="/"] {
  background-color: #142840;
  color: #bfbfbf;
}

#navbar .navbarLinkSection > .navbarSublink > a[routerLink^="/"] div,
#navbar .navbarLinkSection > .navbarSublink > a[routerLink^="/"] p,
#navbar .navbarLinkSection > .navbarSublink > a[routerLink^="/"] .row > div[class^="menu"] div i.fa {
  height: 33.33333px;
  line-height: 33.33333px;
}

#navbar .navbarLinkSection > .navbarSublink > a[routerLink^="/"]:hover,
#navbar .navbarLinkSection > .navbarSublink > a[routerLink^="/"]:hover .row > div[class^="menu"] p {
  background-color: #162232;
}

#navbar .navbarLinkSection > .navbarSublink > a[routerLink^="/"] .row > div[class^="menu"] div {
  border-bottom: solid #4B607B 1px;
}

#navbar .navbarLinkSection > .navbarSublink > a[routerLink^="/"] .row > div[class^="menu"] p {
  background-color: #142840;
  border-bottom: solid #4B607B 1px;
}

#navbar.mobileMenuAbsolute {
  position: absolute;
  top: -14px;
  width: 100%;
  z-index: 10;
}
