<h1>
  Mise à jour du client
</h1>
<div class="row">
  <div class="col-md-6 col-xs-12">
    <div class="row">
      <label for="lastName">Nom</label>
      <input type="text" class="form-control" id="lastMame" value={{lastName}} required>
    </div>
    <div class="row">
      <label for="firstName">Prenom</label>
      <input type="text" class="form-control" id="firstName" value={{firstName}} required>
    </div>
    <div class="row">
      <label for="address">Adresse</label>
      <input type="text" class="form-control" id="address" value={{address}} required>
    </div>
    <div class="row">
      <label for="phone">Téléphone 1</label>
      <input type="text" class="form-control" id="phone" value={{phone}} required>
    </div>
    <div class="row">
      <label for="alterEgo">Téléphone 2</label>
      <input type="text" class="form-control" id="phone2" value={{phone2}} >
    </div>
    <div class="row">
      <label for="email">Email</label>
      <input type="email" name="email" class="form-control" value={{email}} [ngModel]="client.email"
          required pattern="^[a-zA-Z0–9_.+-]+@[a-zA-Z0–9-]+.[a-zA-Z0–9-.]+$" #email="ngModel" >
      <small [hidden]="email.valid || (email.pristine && !f.submitted)">
          Le Email est requis et le format doit être <i>exemple@exemple.com</i>.
      </small>
    </div>
  </div>
  <div class="col-md-6 col-xs-12">
    <div class="row">
      <label for="sexe">Sexe</label>
      <label>
        <input #male name="gender" type="radio" value="Male" (click)="gender = male.value" />
        Homme
      </label>
      <label>
        <input #female name="gender" type="radio"  value="Female" (click)="gender = female.value" />
        Femme
      </label>
    </div>
    <div class="row">
      <label for="isAlone">Vie seul</label>
      <label>
        <input #oui name="isAlone" type="radio" value="Seul" (click)="isAlone = seul.value" />
        Seul
      </label>
      <label>
        <input #non name="isAlone" type="radio"  value="Accompagne" (click)="isAlone = accompagne.value" />
        Accompagné
      </label>
    </div>
    <div class="row">
      <label for="maritalStatus">État matrimonial</label>
      <select class="col-md-6 col-xs-12" id="power" required>
        <option [value]="celibataire">Celibataire</option>
        <option [value]="marie">Marie</option>
        <option [value]="conjoint">Conjoint</option>
        <option [value]="separe">Separe</option>
        <option [value]="divorce">Divorce</option>
        <option [value]="mariageAnnule">Mariage annule</option>
        <option [value]="veuf">Veuf</option>
      </select>
    </div>
    <div class="row">
      <label for="birthday">Date de naissance</label>
      <p-calendar  class="col-md-6 col-xs-12"></p-calendar>
      <!--<input [(ngModel)]="date" type="date" name="birthday" value={{birthday}}/>-->
    </div>
    <div class="row">
      <label for="typeHabitation">Type d'habitation</label>
      <select  class="col-md-6 col-xs-12" id="power" required>
        <option [value]="maison">Maison</option>
        <option [value]="condominium">Condominium</option>
        <option [value]="appartement">Appartement</option>
        <option [value]="centreAccueil">Centre d'accueil</option>
      </select>
    </div>
    <div class="row">
      <label for="enAttenteHabitation">En attente d'habitation</label>
      <label>
        <input #ouiEnAttenteHabitation name="enAttenteHabitation" type="radio" value="Oui" (click)="enAttenteHabitation = oui.value" />
        Oui
      </label>
      <label>
        <input #nonEnAttenteHabitation name="enAttenteHabitation" type="radio"  value="Non" (click)="enAttenteHabitation = non.value" />
        Non
      </label>
    </div>
    <!--<div class="row">
      <label for="region">Region</label>
      <select class="form-control" id="region" required>
        <option *ngFor="let r of regions" [value]={{r}}>{{region}}</option>
      </select>
    </div>
    <div class="row">
      <label for="contactUrgence">Contacte d'urgence</label>
      <select class="form-control" id="contactUrgence" required>
        <option *ngFor="let cu of contactUrgences" [value]={{cu}}>{{contactUrgence}}</option>
      </select>
    </div>
  </div>-->
</div>
<button type="button" pButton icon="fa-check" label="Mettre à jour" (click)="toUpdateClient()"></button>
