<div>
  <h1>Type de ressource</h1>
  <div class="row">
    <label for="" class="col-xs-4">Label : </label>
    <label class="col-xs-8" {{ ressourceType?.label }}></label>
  </div>
  <button type="submit" id="button">Retour</button>
</div>
