<div class="contentBoxTitle"><span>Type de ressource</span></div>
<p-dataTable [value]="ressourceTypes" [rows]="10" [paginator]="true">
    <p-column field="label" header="Label" styleClass="col-xs-12">
      <template let-col let-value="rowData" pTemplate type="body">
        <a routerLink="/ressourceTypeReads/{{value.idressourcetype}}">{{value.label}}</a>
      </template>
    </p-column>
</p-dataTable>
<app-create [service]="ressourceTypeService"></app-create>
