<div class="contentBoxTitle"><span>Thèmes</span></div>
<p-dataTable [value]="themes" [rows]="10" [paginator]="true">
    <p-column field="label" header="Label" styleClass="col-xs-12">
      <template let-col let-value="rowData" pTemplate type="body">
        <a routerLink="/themeReads/{{value.idtheme}}">{{value.label}}</a>
      </template>
    </p-column>
    <p-column field="description" header="Description" styleClass="col-xs-5"></p-column>
</p-dataTable>
<app-create [service]="themeService"></app-create>
