<div class="container">
  <div class="row">
    <label class="ui-grid-col-2" for="description">Description</label>
    <textarea class="ui-grid-col-5" rows="3" cols="10" id="descIntervention"></textarea>
  </div>
  <div class="row">
    <label class="ui-grid-col-2" for="limitDate">Date Limite</label>
    <p-calendar class="ui-grid-col-5"></p-calendar>
  </div>
  <div class="row">
    <label class="ui-grid-col-2" for="duration">Durée (en minutes)</label>
    <input class="ui-grid-col-5" type="number" max="9999" pInputText id="duration"/>
  </div>
  <div class="row">
      <label class="ui-grid-col-2" for="distance">Distance (en Km)</label>
      <input class="ui-grid-col-5" type="number" max="999.9" step="0.1" pInputText id="distance"/>
  </div>
  <div class="row">
    <label class="ui-grid-col-2" for="address">Adresse</label>
    <input class="ui-grid-col-5" type="text" pInputText id="address"/>
  </div>
  <div class="row">
    <label class="ui-grid-col-2" for="interventionType">Choisir un type</label>
    <p-dropdown class="ui-grid-col-5" [options]="allTypes"></p-dropdown>
  </div>
  <div class="row">
    <label class="ui-grid-col-2" for="demande">Sélectionner une demande</label>
    <p-autoComplete  class="ui-grid-col-5" [(ngModel)]="demande" [suggestions]="results" (completeMethod)="search($event)"></p-autoComplete>
  </div>
  <div class="row">
    <label class="ui-grid-col-2" for="problemes">Sélectionner le(s) problème(s) associé(s)</label>
    <p-autoComplete  class="ui-grid-col-5" [(ngModel)]="problemes" [suggestions]="results" (completeMethod)="filterCountryMultiple($event)" [multiple]="true"></p-autoComplete>
  </div>
</div>
