<h2>Détails du client</h2>
<div class="row">
  <div class="col-md-6 col-xs-12">
    <app-contact-details-content [contact]="client?.contact"></app-contact-details-content>
    <div class="row">
      <div class="col-xs-4">Sexe: </div>
      <div class="col-xs-8">{{ client?.sex }}</div>
    </div>
    <div class="row">
      <div class="col-xs-4">Est seul(e): </div>
      <div class="col-xs-8">{{ client?.isAlone ? "Oui" : "Non" }}</div>
    </div>
    <div class="row">
      <div class="col-xs-4">État civil: </div>
      <div class="col-xs-8">{{ client?.maritalStatus }}</div>
    </div>
    <div class="row">
      <div class="col-xs-4">Date de naissance: </div>
      <div class="col-xs-8">{{ client?.birthday }}</div>
    </div>
    <div class="row">
      <div class="col-xs-4">Type d'habitation: </div>
      <div class="col-xs-8">{{ client?.typeHabitation }}</div>
    </div>
    <div class="row">
      <div class="col-xs-4">En attente d'une habitation: </div>
      <div class="col-xs-8">{{ client?.enAttenteHabitation != "" ? "Non" : client.enAttenteHabitation }}</div>
    </div>
  </div>
  <div class="col-md-6 col-xs-12">
    <div class="row">
      <div class="col-xs-4">Région: </div>
      <a class="col-xs-8" *ngIf="client?.region != null" routerLink="/regionDetails/{{ client.region.idregion }}">
        {{client.region.regionName}}
      </a>
    </div>
    <div class="row">
      <div class="col-xs-4">Contact d'urgence 1: </div>
      <a class="col-xs-8" *ngIf="client?.contact1 != null" routerLink="/contactDetails/{{ client.contact1.idcontact }}">
       {{client.contact1.firstName}} {{client.contact1.lastName}}
     </a>
    </div>
    <div class="row">
      <div class="col-xs-4">Contact d'urgence 2: </div>
      <a class="col-xs-8" *ngIf="client?.contact2 != null" routerLink="/contactDetails/{{ client.contact2.idcontact }}">
       {{client.contact2.firstName}} {{client.contact2.lastName}}
     </a>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-12">Demandes: </div>
      <div class="col-md-8 col-xs-12">
        <div *ngIf="!(client?.demandes?.count > 0)">Aucun</div>
        <div *ngFor="let demande of client?.demandes">
          <a routerLink="/demandeDetails/{{ demande.iddemande }}">{{ demande.substring(0, 25) }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
