<div class="contentBoxTitle first"><span>Évènements</span></div>
<p-dataTable [value]="problemes" [rows]="20" [paginator]="true" selectionMode="single" [(selection)]="selectedProbleme" (onRowSelect)="onRowSelect($event)" [responsive]="true" [resizableColumns]="true">

    <p-column field="description" header="Description"></p-column>
    <p-column field="recommentation" header="Recommendation"></p-column>
    <p-column field="status" header="Status"></p-column>
    <p-column field="theme.label" header="Theme"></p-column>
</p-dataTable>
<app-create [service]="problemeService"></app-create>
<input type="button" routerLink="/problemeDetails/{{selectedProbleme?.idproblem}}" ng-click="reset(form)" value="details" />
<input type="button" routerLink="/problemeCreate" ng-click="reset(form)" value="Créer un nouveau problème" />
