<div>
  <h1>Mise à jour du type d'intervention</h1>
  <div class="row">
    <label for="" class="col-xs-4">Label : </label>
    <input type="text" class="col-xs-8">
  </div>
  <div class="row">
    <label for="" class="col-xs-4">Description : </label>
    <input type="text" class="col-xs-8">
  </div>
  <div class="row">
    <label for="" class="col-xs-4">Lieu : </label>
    <input type="text" class="col-xs-8">
  </div>
  <button type="submit" id="button">Mise à jour</button>
</div>
