<div>
  <h1>Ajouter une référence</h1>
  <div class="row">
    <label for="" class="col-xs-3">Description : </label>
    <input type="text" class="col-xs-6" [(ngModel)]="descriptionRef" name="descriptionRef" required minlength="1">
    <small *ngIf="descriptionRef.valid" class="col-xs-3">
        La description doit contenir au moins 1 caractère.
    </small>
    <pre *ngIf="descriptionRef.errors">{{ descriptionRef.errors | json }}</pre>
  </div>
  <button type="submit" pButton label="Sauvegarder" (click)="CreateAReference()" ></button>
</div>
