<div id="statistique">
  <div class="contentBoxTitle"><span>Interventions par périodes</span></div>
  <p-dropdown [options]="periods" [(ngModel)]="selectedPeriod" [style]="{'width':'23%'}"></p-dropdown>
<br>
  <button (click)="refreshData(chart)" *ngIf="yearDataLoaded && trimesterDataLoaded && monthDataLoaded && weekDataLoaded">Afficher</button>
  <p> {{message}}</p>
  <p-chart #chart type="bar" [data]="data"></p-chart>
</div>
