<div>
  <h1>Référence</h1>
  <div class="row">
    <label for="" class="col-xs-4">Description : </label>
    <label class="col-xs-8" {{ reference?.description }}></label>
  </div>
  <button type="submit" id="button">Retour</button>
</div>
