<div>
  <h1>Ajouter un thème</h1>
  <div class="row">
    <label for="" class="col-xs-3">Label : </label>
    <input type="text" class="col-xs-6" [(ngModel)]="labelTheme" name="labelTheme" id="labelTheme" required minlength="1">
    <small *ngIf="labelTheme.valid" class="col-xs-3">
        Le label doit contenir au moins 1 caractère.
    </small>
    <pre *ngIf="labelTheme.errors">{{ labelTheme.errors | json }}</pre>
  </div>
  <div class="row">
    <label for="" class="col-xs-3">Description : </label>
    <input type="text" class="col-xs-6"[(ngModel)]="descriptionTheme" name="descriptionTheme" id="descriptionTheme" required minlength="1">
    <small *ngIf="descriptionTheme.valid" class="col-xs-3">
        La description doit contenir au moins 1 caractère.
    </small>
    <pre *ngIf="descriptionTheme.errors">{{ descriptionTheme.errors | json }}</pre>
  </div>
  <button type="submit" pButton label="Sauvegarder" (click)="CreateATheme()"></button>
</div>
