<div>
  <h1>Ajouter un document</h1>
  <div class="row">
    <label for="" class="col-xs-3" [(ngModel)]="titleDocument" name="title" id="title" required minlength="1">Title : </label>
    <input type="text" class="col-xs-6">
      <small *ngIf="title.valid" class="col-xs-3">
          Le titre doit contenir au moins 1 caractère.
      </small>
      <pre *ngIf="title.errors">{{ title.errors | json }}</pre>
  </div>
  <div class="row">
    <label for="" class="col-xs-3" [(ngModel)]="descriptionDocument" name="description" id="description" required minlength="1">Description : </label>
    <input type="text" class="col-xs-6">
    <small *ngIf="description.valid" class="col-xs-3">
        La description doit contenir au moins 1 caractère.
    </small>
    <pre *ngIf="description.errors">{{ description.errors | json }}</pre>
  </div>
  <button type="submit" pButton label="Sauvegarder" (click)="CreateADocument()"></button>
</div>
