<h1>
  Edit ressource
</h1>
<table class="table">
  <thead>
    <tr>
      <td>ID</td>
      <td>Nom</td>
      <td>Prenom</td>
      <td>Adresse</td>
      <td>Téléphone 1</td>
      <td>Téléphone 2</td>
      <td>Email</td>
      <td>Login</td>
      <td>Hash</td>
      <td>Créer par</td>
      <td>Type de ressource</td>
      <td>Region</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{id}}</td>
      <td>{{lastName}}</td>
      <td>{{firstName}}</td>
      <td>{{address}}</td>
      <td>{{phone}}</td>
      <td>{{phone2}}</td>
      <td>{{email}}</td>
      <td>{{login}}</td>
      <td>{{hash}}</td>
      <td>{{createdBy}}</td>
      <td>{{ressourceType}}</td>
      <td>{{region}}</td>
    </tr>
  </tbody>
</table>
