<div>
  <h1>Thème</h1>
  <div class="row">
    <label for="" class="col-xs-4" {{ ressourceType?.label }}>Label : </label>
    <label class="col-xs-8"></label>
  </div>
  <div class="row">
    <label for="" class="col-xs-4" {{ ressourceType?.description }}>Description : </label>
    <label class="col-xs-8"></label>
  </div>
  <button type="submit" id="button">Retour</button>
</div>
