<form class="form-style-9">

<h1>Créer un nouveau problème</h1>
<!-- Description -->
<div class="row">
  <h4>Description</h4>
<textarea rows="5" cols="30" class="form-control"  required minlength="1" maxlength="1000" name="description" class="field-style field-split align-left col-md-6" placeholder="Description" ngControl="description"
[(ngModel)]="newProbleme.description" id="description"  #description="ngModel"></textarea>
</div>

<!-- Recommendation -->
<div class="row">
  <h4>Recommendation</h4>
<textarea rows="5" cols="30" class="form-control"  required minlength="1" maxlength="1000" name="recommendation" class="field-style field-split align-left col-md-6" placeholder="Recommendation" ngControl="recommendation"
[(ngModel)]="newProbleme.recommendation" id="recommendation"  #recommendation="ngModel"></textarea>
</div>

<!-- Status -->
<div class="row">
  <h4>Status</h4>
    <p-dropdown [options]="statusList" [(ngModel)]="selectedStatus" [style]="{'width':'30%'}" name="cboStatus" field="field1"></p-dropdown>
</div>

<div class="row">
  <h4>Thème</h4>
    <p-dropdown [options]="themes" [(ngModel)]="currentTheme"  [style]="{'width':'100%'}" filter="filter" name="field2" class="field-style field-split align-left col-md-6" placeholder="Thème"></p-dropdown>
  </div>

  <div class="row">
    <h4>Demande</h4>
      <p-dropdown [options]="demandes" [(ngModel)]="currentDemande"  [style]="{'width':'100%'}" filter="filter" name="field3" class="field-style field-split align-left col-md-6" placeholder="Demande"></p-dropdown>
    </div>


      <div *ngIf="description.errors && (description.dirty || description.touched)"
       class="alert alert-danger">
      <div [hidden]="!description.errors.required">
        Description est requis.
      </div>
      <div [hidden]="!description.errors.minlength">
        Description doit avoir au moins 1 caractère.
      </div>
      <div [hidden]="!description.errors.maxlength">
        Description ne peut pas faire plus de 1000 caractères.
      </div>
    </div>

    <div *ngIf="recommendation.errors && (recommendation.dirty || recommendation.touched)"
     class="alert alert-danger">
    <div [hidden]="!recommendation.errors.required">
      Recommendation est requis.
    </div>
    <div [hidden]="!recommendation.errors.minlength">
      Recommendation doit avoir au moins 1 caractère.
    </div>
    <div [hidden]="!recommendation.errors.maxlength">
      Recommendation ne peut pas faire plus de 1000 caractères.
    </div>
    </div>

<input type="submit" (click)="sendInformations()"  value="Créer"/>
<input type="submit" value="Annuler"/>

</form>
