<button type="button" pButton icon="fa-plus" (click)="showDialogToAdd()" label="Ajouter"></button>

<p-dialog [(visible)]="displayDialog" width=600 [responsive]="true" showEffect="fade" [modal]="true">
<div *ngIf="service.serviceType=='InterventionService'">
  <app-intervention-create (save)="interventionUpdated($event)"></app-intervention-create>
</div>
<div *ngIf="service.serviceType=='ClientService'">
  <app-client-create (save)="clientUpdated($event)"></app-client-create>
</div>
<div *ngIf="service.serviceType=='ContactService'">
  <app-contact-create (save)="contactUpdated($event)"></app-contact-create>
</div>
<div *ngIf="service.serviceType=='RessourceService'">
  <app-ressource-create (save)="ressourceUpdated($event)"></app-ressource-create>
</div>
<div *ngIf="service.serviceType=='DemandeService'">
  <app-create-edit-demande (save)="demandeUpdated($event)"></app-create-edit-demande>
</div>
<div *ngIf="service.serviceType=='DocumentService'">
  <app-document-create (save)="documentUpdated($event)"></app-document-create>
</div>
<div *ngIf="service.serviceType=='InterventionTypeService'">
  <app-intervention-type-create (save)="interventionTypeUpdated($event)"></app-intervention-type-create>
</div>
<div *ngIf="service.serviceType=='ReferenceService'">
  <app-reference-create (save)="referenceUpdated($event)"></app-reference-create>
</div>
<div *ngIf="service.serviceType=='RegionService'">
  <app-region-create (save)="regionUpdated($event)"></app-region-create>
</div>
<div *ngIf="service.serviceType=='RessourceTypeService'">
  <app-ressource-type-create (save)="ressourceTypeUpdated($event)"></app-ressource-type-create>
</div>
<div *ngIf="service.serviceType=='ThemeService'">
  <app-theme-create (save)="themeUpdated($event)"></app-theme-create>
</div>
<div *ngIf="service.serviceType=='InterventionService'">
  <app-intervention-create (save)="interventionUpdated($event)"></app-intervention-create>
</div>
<footer>
  <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
    <button type="button" pButton icon="fa-close"  label="Annuler"  (click)="cancel()" ></button>
    <button type="button" pButton icon="fa-check"  label="Sauvegarder" (click)="save()" ></button>
  </div>
</footer>
</p-dialog>
