<h1>Statistiques</h1>
<header>
  <nav>
    <ul>
      <li><a [routerLink]="['/chart-intervention-per-location']">Intervention par lieu</a></li>
      <li><a [routerLink]="['/chart-intervention-per-region']">Intervention par région</a></li>
      <li><a [routerLink]="['/chart-intervention-per-theme']">Intervention par thème</a></li>
      <li><a [routerLink]="['/chart-intervention-per-period']">Intervention par période</a></li>
      <li><a [routerLink]="['/chart-clients']">Clients Informations</a></li>
    </ul>
  </nav>
</header>
<div>
  <router-outlet></router-outlet>
</div>
