<h2>Détails du contact</h2>
<div class="row">
  <app-contact-details-content class="col-md-6 col-xs-12" [contact]="contact"></app-contact-details-content>
  <div class="col-md-6 col-xs-12">
    <h4>Est le contact d'urgence de...</h4>
    <div *ngIf="false && !(contact?.clients?.count > 0)">Aucun</div>
    <div>En Développement <i class="fa fa-2x fa-frown-o" aria-hidden="true"></i></div>
    <div *ngFor="let client of contact?.clients">
      <a routerLink="/clientDetails/{{ client.idclient }}">{{client.firstName}} {{client.lastName}}</a>
    </div>
  </div>
</div>
