<div class="container">
  <app-login-page *ngIf="!isLoggedOn" (onLogin)="onLogin($event)"></app-login-page>
  <header-component [apptitle]="apptitle" [hidden]="!isLoggedOn"></header-component>
  <!-- FIXME: when ng2 implements a fix that allows a router-outlet inside *ngIf, replace the [hidden] tag with *ngIf
    https://github.com/angular/angular/issues/9500-->
  <div class="row" [hidden]="!isLoggedOn">
    <div id="navbarDiv" class="col-sm-1"><navbar-component></navbar-component></div>
    <div id="contentDiv" class="col-xs-12 col-sm-11"><div class="paperCol"><router-outlet></router-outlet></div></div>
  </div>
  <footer-component></footer-component>
</div>

<app-intervention-type-list></app-intervention-type-list>
