<h1>
  Creation client
</h1>
<div class="row">
  <div class="col-md-5 col-xs-12">
    <div class="row">
      <label for="lastName" class="col-md-6 col-xs-12">Nom</label>
      <input type="text" class="col-md-6 col-xs-12" [(ngModel)]="clientLastName" id="lastMame"
        required >
    </div>
    <div class="row">
      <label for="firstName" class="col-md-6 col-xs-12">Prenom</label>
      <input type="text" class="col-md-6 col-xs-12" [(ngModel)]="clientPrenom" id="firstName" required>
    </div>
    <div class="row">
      <label for="address" class="col-md-6 col-xs-12">Adresse</label>
      <input type="text" class="col-md-6 col-xs-12" [(ngModel)]="clientAdresse" id="address" required>
    </div>
    <div class="row">
      <label for="phone" class="col-md-6 col-xs-12">Téléphone 1</label>
      <input type="text" class="col-md-6 col-xs-12" [(ngModel)]="clientTel1"id="phone" required>
    </div>
    <div class="row">
      <label for="phone2" class="col-md-6 col-xs-12">Téléphone 2</label>
      <input type="text" class="col-md-6 col-xs-12" [(ngModel)]="clientTel2"id="phone2">
    </div>
    <div class="row">
      <label for="email" class="col-md-6 col-xs-12">Email</label>
      <input type="email" class="col-md-6 col-xs-12" [(ngModel)]="clientEmail" name="email" [ngModel]="client.email"
          required pattern="^[a-zA-Z0–9_.+-]+@[a-zA-Z0–9-]+.[a-zA-Z0–9-.]+$" #email="ngModel" id="email" ><br><br>
      <!--<small [hidden]="email.valid || (email.pristine && !f.submitted)">
          Le Email est requis et le format doit être <i>exemple@exemple.com</i>.
      </small>-->
    </div>
  </div>
  <div class="col-md-7 col-xs-12">
    <div class="row">
      <label for="sexe" class="col-md-6 col-xs-12">Sexe</label>
      <label>
        <input type="radio" [ngModel]="clientSexe" (ngModelChange)="Client.sex='male'"  name="sex" value="male">Homme
      </label>
      <label>
        <input type="radio" [ngModel]="clientSexe"  (ngModelChange)="Client.sex='female'" name="sex" value="female">Femme
      </label>
    </div>
    <div class="row">
      <label for="isAlone" class="col-md-6 col-xs-12">Vie seul</label>
      <label>
        <input type="radio" [ngModel]="isAlone" (ngModelChange)="Client.isAlone='seul'" name="isAlone" value="seul">Seul
      </label>
      <label>
        <input type="radio" [ngModel]="isAlone" (ngModelChange)="Client.isAlone='accompagne'" name="isAlone" value="accompagne">Accompagné
      </label>
    </div>
    <div class="row">
      <label for="maritalStatus" class="col-md-6 col-xs-12">État matrimonial</label>
      <select class="col-md-6 col-xs-12" id="power" required>
        <option [value]="celibataire">Celibataire</option>
        <option [value]="marie">Marie</option>
        <option [value]="conjoint">Conjoint</option>
        <option [value]="separe">Separe</option>
        <option [value]="divorce">Divorce</option>
        <option [value]="mariageAnnule">Mariage annule</option>
        <option [value]="veuf">Veuf</option>
      </select>
    </div>

    <div class="row">
      <label for="birthday" class="col-md-6 col-xs-12">Date de naissance</label>
      <p-calendar  class="col-md-6 col-xs-12"></p-calendar>
    </div>

    <div class="row" >
      <label for="typeHabitation" class="col-md-6 col-xs-12">Type d'habitation</label>
      <select  class="col-md-6 col-xs-12" id="typeHabitation" required>
        <option [value]="maison">Maison</option>
        <option [value]="condominium">Condominium</option>
        <option [value]="appartement">Appartement</option>
        <option [value]="centreAccueil">Centre d'accueil</option>
      </select>
    </div>
    <div class="row">
      <label for="enAttenteHabitation" class="col-md-6 col-xs-12">En attente d'habitation</label>
      <label>
        <input class="col-md-6 col-xs-12" #ouiEnAttenteHabitation name="enAttenteHabitation" [(ngModel)]="clienttypeHabitation" type="radio" value="Oui" (click)="enAttenteHabitation = oui.value" />
        Oui
      </label>
      <label>
        <input class="col-md-6 col-xs-12" #nonEnAttenteHabitation name="enAttenteHabitation" [(ngModel)]="clienttypeHabitation" type="radio"  value="Non" (click)="enAttenteHabitation = non.value" />
        Non
      </label>
    </div>

    <div class="row">
      <label class="col-md-6 col-xs-12" for="region">Region</label>
      <select class="col-md-6 col-xs-12" id="region" required>
        <option *ngFor="let r of regions" [value]="r">{{r.regionName}}</option>
      </select>
    </div>

    <div class="row">
      <label for="contact" class="col-md-6 col-xs-12">Contact d'urgence</label>
      <p-autoComplete class="col-md-6 col-xs-12" [(ngModel)]="contact" [suggestions]="filteredClientsSingle" (completeMethod)="filterClientSingle($event)" field="name" [size]="30"
        placeholder="Clients"></p-autoComplete>
        <span style="margin-left:10px">Clients: {{client ? client.name||client : 'none'}}</span>
    </div>
  </div>
</div>
<button type="button" pButton icon="fa-check" label="Sauvegarder" (click)="toCreateClient()"></button>
