<div>
  <h1>Ajouter un type d'intervention</h1>
  <div class="row">
    <label for="" class="col-xs-3">Label : </label>
    <input type="text" class="col-xs-6" [(ngModel)]="labelIntType" id="labelIntType" name="labelIntType" required minlength="1">
    <small *ngIf="labelIntType.valid" class="col-xs-3">
        Le label doit contenir au moins 1 caractère.
    </small>
    <pre *ngIf="labelIntType.errors">{{ labelIntType.errors | json }}</pre>
  </div>
  <div class="row">
    <label for="" class="col-xs-3">Description : </label>
    <input type="text" class="col-xs-6" [(ngModel)]="descriptionIntType" id="descriptionIntType" name="descriptionIntType" required minlength="1">
    <small *ngIf="descriptionIntType.valid" class="col-xs-3">
        La description doit contenir au moins 1 caractère.
    </small>
    <pre *ngIf="descriptionIntType.errors">{{ descriptionIntType.errors | json }}</pre>
  </div>
  <div class="row">
    <label for="" class="col-xs-3">Lieu : </label>
    <input type="text" class="col-xs-6" [(ngModel)]="lieuIntType"  id="lieuIntType" name="lieuIntType" required minlength="1">
    <small *ngIf="lieuIntType.valid" class="col-xs-3">
        Le lieu doit contenir au moins 1 caractère.
    </small>
    <pre *ngIf="lieuIntType.errors">{{ lieuIntType.errors | json }}</pre>
  </div>
  <button type="submit" pButton label="Sauvegarder" (click)="CreateAInterventionType()"></button>
</div>
