<p-dataTable [value]="interventionTypes" [rows]="10" [paginator]="true">
<div class="contentBoxTitle"><span>Types d'intervention</span></div>
    <p-column field="label" header="Label" styleClass="col-xs-3">
      <template let-col let-value="rowData" pTemplate type="body">
         <a routerLink="/interventionTypeReads/{{value.idinterventiontype}}">{{ value.label }}</a>
      </template></p-column>
    <p-column field="description" header="Description" styleClass="col-xs-5"></p-column>
    <p-column field="lieu" header="Lieu" styleClass="col-xs-4"></p-column>
</p-dataTable>
<app-create [service]="interventionTypeService"></app-create>
