<div class="contentBoxTitle"><span>Références</span></div>
<p-dataTable [value]="references" [rows]="10" [paginator]="true">
    <p-column field="description" header="Description" styleClass="col-xs-3">
      <template let-col let-value="rowData" pTemplate type="body">
        <a routerLink="/referenceReads/{{value.idreference}}">{{ value.description }}</a>
      </template></p-column>
</p-dataTable>
<app-create [service]="referenceService"></app-create>
