<div *ngIf="display" id="statistique">
  <div class="contentBoxTitle"><span>Statistiques sur le client: {{ClientName}}</span></div>
  <p>Nombre total d'heures d'interventions: {{TotalHours}}</p>
  <p>Nombre total d'interventions: {{TotalInterventions}}</p>
</div>
