<div>
  <h1>Type d'intervention</h1>
  <div class="row">
    <label for="" class="col-xs-4">Label : </label>
    <label class="col-xs-8" {{ interventionType?.label }}></label>
  </div>
  <div class="row">
    <label for="" class="col-xs-4">Description : </label>
    <label class="col-xs-8" {{ interventionType?.description }}></label>
  </div>
  <div class="row">
    <label for="" class="col-xs-4">Lieu : </label>
    <label class="col-xs-8" {{ interventionType?.lieu }}></label>
  </div>
  <button type="submit" id="button">Retour</button>
</div>
