<p>
  delete works!
</p>

<!-- <p-growl [value]="msgs"></p-growl> -->

<!-- <p-confirmDialog width="425"></p-confirmDialog>
<button type="button" pButton icon="fa-trash" label="Supprimer"></button> -->



 <!-- (click)="confirmDelete()" -->
