<div>
  <h1>Région</h1>
  <div class="row">
    <label for="" class="col-xs-4">Nom : </label>
    <label class="col-xs-8" {{ region?.regionName }}></label>
  </div>
  <button type="submit" id="button">Retour</button>
</div>
