<h1>
  Creation d'une ressource
</h1>
<div class="row">
  <div class="col-md-5 col-xs-12">
    <div class="row">
      <label class="col-md-6 col-xs-12" for="lastName">Nom</label>
      <input type="text" class="col-md-6 col-xs-12" [(ngModel)]="ressourceLastName" id="lastMame" required>
    </div>
    <div class="row">
      <label class="col-md-6 col-xs-12" for="firstName">Prenom</label>
      <input type="text" class="col-md-6 col-xs-12" [(ngModel)]="ressourceFirstName" id="firstName" required>
    </div>
    <div class="row">
      <label class="col-md-6 col-xs-12" for="address">Adresse</label>
      <input type="text" class="col-md-6 col-xs-12" [(ngModel)]="ressourceAddress" id="address" required>
    </div>
    <div class="row">
      <label class="col-md-6 col-xs-12" for="phone">Téléphone 1</label>
      <input type="text" class="col-md-6 col-xs-12" [(ngModel)]="ressourceTelephone1" id="phone" required>
    </div>
    <div class="row">
      <label class="col-md-6 col-xs-12" for="phone2">Téléphone 2</label>
      <input type="text" class="col-md-6 col-xs-12" [(ngModel)]="ressourceTelephone2" id="phone2">
    </div>
    <div class="row">
      <label class="col-md-6 col-xs-12" for="email">Email</label>
      <input type="email" name="email" class="col-md-6 col-xs-12" [ngModel]="ressource.email"
          required pattern="^[a-zA-Z0–9_.+-]+@[a-zA-Z0–9-]+.[a-zA-Z0–9-.]+$" #email="ngModel" >
    </div>
    <!--<div class="row">
      <small [hidden]="email.valid || (email.pristine && !f.submitted)">
          Le Email est requis et le format doit être <i>exemple@exemple.com</i>.
      </small>
    </div>-->
  </div>
  <div class="col-md-7 col-xs-12">
    <div class="row">
      <label class="col-md-6 col-xs-12" for="login"  [(ngModel)]="ressourceLogin">Login</label>
      <input type="text" class="col-md-6 col-xs-12" id="login" required>
    </div>
    <div class="row">
      <label class="col-md-6 col-xs-12">Mot de passe</label>
      <input type="password" name="password" class="col-md-6 col-xs-12" [ngModel]="ressource.password"
          required #password="ngModel" id="password">
    </div>
    <!--<div class="row">
      <small [hidden]="password.valid || (password.pristine && !f.submitted)">
          Le mot de passe est requis
      </small>
    </div>-->
    <div class="row">
      <label class="col-md-6 col-xs-12">Réécrire le mot de passe</label>
      <input type="password" name="confirmPassword" class="col-md-6 col-xs-12" [ngModel]="ressource.confirmPassword"
          required validateEqual="password" #confirmPassword="ngModel" id="confirmPassword">
    </div>
    <!--<div class="row">
      <small [hidden]="confirmPassword.valid ||  (confirmPassword.pristine && !f.submitted)">
          Le mot de passe n'est pas identique
      </small>
    </div>-->
    <div class="row">
      <label class="col-md-6 col-xs-12">Ressource créé par</label>
      <select class="col-md-6 col-xs-12" id="createdBy" required>
        <option *ngFor="let cb of createdBys" [value]="cb">{{cb.firstName}} + " " + {{cb.lastName}}</option>
      </select>
    </div>
    <div class="row">
      <label class="col-md-6 col-xs-12" for="ressourceType">Type de ressource</label>
      <select class="col-md-6 col-xs-12" id="ressourceType" required>
        <option *ngFor="let rt of ressourceTypes" [value]="rt">{{rt.label}}</option>
      </select>
    </div>
    <div class="row">
      <label class="col-md-6 col-xs-12" for="region">Region</label>
      <select class="col-md-6 col-xs-12" id="region" required>
        <option *ngFor="let r of regions" [value]="r">{{r.regionName}}</option>
      </select>
    </div>
    <button type="button" pButton icon="fa-check" label="Sauvegarder" (click)="toCreateRessource()"></button>
  </div>
</div>
