<!-- http://www.primefaces.org/primeng/#/datatable-->
<!-- TODO: Look at the Lazy Loading section... We should implement this. -->
<p-dataTable [value]="values" [rows]="10" [paginator]="true">
    <p-column field="id" header="ID" styleClass="col-md-2">
      <template let-col let-value="rowData" pTemplate type="body">
          <a routerLink="value.constructor.name">{{value[col.field]}}</a> <!-- TODO: fix link -->
      </template></p-column>
    <p-column field="description" header="Description" styleClass="col-md-10"></p-column>
</p-dataTable>
