
<form class="form-style-9">
  <h1>Demande #{{demande?.iddemande}} : {{demande?.description}} <input type="submit" value="Edit" /></h1>
  <div class="form-style-10">

<ul>
<li>
    <h3>Client : <a>{{demande?.client.contact.firstName}} {{demande?.client.contact.lastName}}</a></h3>
    <h3>Status : {{demande?.status}}</h3>
</li>
<li>
  <h3>Reference : {{demande?.reference.description}}</h3>
  <h3>Assignee : <a>{{demande?.ressource.contact.firstName}} {{demande?.ressource.contact.lastName}}</a></h3>
</li>
<li>
</li>
</ul>
  <div>
    <h2>Problèmes reliés</h2>
    <ul>
      <li *ngFor="let prob of problemes">
        <a>#{{prob.id}} : {{prob.description}}</a>
      </li>
    </ul>
  </div>
</div>
</form>
