<div class="contentBoxTitle"><span>Contacts</span></div>
<p-dataTable [value]="contacts" [rows]="10" [paginator]="true">
    <p-column field="firstName" header="Prénom" styleClass="col-md-2">
      <template let-col let-value="rowData" pTemplate type="body">
        <a routerLink="/contactDetails/{{ value.idcontact }}">{{value[col.field]}}</a> <!-- TODO: fix link -->
      </template></p-column>
    <p-column field="lastName" header="Nom" styleClass="col-md-8"></p-column>
    <p-column field="phone" header="Téléphone principal" styleClass="col-md-3"></p-column>
    <p-column field="phone2" header="Téléphone secondaire" styleClass="col-md-3"></p-column>
    <p-column field="email" header="Email" styleClass="col-md-4"></p-column>
</p-dataTable>
<app-create [service]="dao"></app-create>
