<div class="contentBoxTitle first"><span>Demandes</span></div>
<p-dataTable [value]="demandes" [rows]="20" [paginator]="true" selectionMode="single" [(selection)]="selectedDemande" (onRowSelect)="onRowSelect($event)" [responsive]="true" [resizableColumns]="true">
    <p-column field="client" header="Client">
      <template let-col let-value="rowData" pTemplate type="body">
          {{ value[col.field].contact.firstName }} {{ value[col.field].contact.lastName }}  <!-- TODO: fix link -->
      </template>
    </p-column>
    <p-column field="description" header="Description"></p-column>
    <p-column field="status" header="Status"></p-column>
    <p-column field="reference.description" header="Reference"></p-column>
    <p-column field="ressource" header="Assignee">
      <template let-col let-value="rowData" pTemplate type="body">
          {{ value[col.field].contact.firstName }} {{ value[col.field].contact.lastName }}  <!-- TODO: fix link -->
      </template>
    </p-column>
</p-dataTable>
<app-create [service]="demandeService"></app-create>
<input type="button" routerLink="/demandeDetails/{{selectedDemande?.iddemande}}" ng-click="reset(form)" value="details" />
<input type="button" routerLink="/demandeCreate" ng-click="reset(form)" value="Créer une nouvelle demande" />
