<div>
  <h1>Document</h1>
  <div class="row">
    <label for="" class="col-xs-4">Title : </label>
    <label class="col-xs-8" {{ document?.title }}></label>
  </div>
  <div class="row">
    <label for="" class="col-xs-4">Description : </label>
    <label class="col-xs-8" {{ document?.description }}></label>
  </div>
  <div class="row">
    <div class="col-md-4 col-xs-12">Problemes: </div>
    <div class="col-md-8 col-xs-12">
      <div *ngIf="!(document?.problemes?.count > 0)">Aucun</div>
      <div *ngFor="let probleme of document?.problemes">
        <a>{{ probleme.description }}</a>
      </div>
    </div>
  </div>
  <button type="submit" id="button">Retour</button>
</div>
