@import './variables.scss';

//routerActiveLink="Active"
//mettre une classe margin-bottom pour les inputs

//Chargement
app-root > .container{
  margin-top: $betweenElements*2;
  @media screen and (max-width: $screen-sm-width - 1) {
    margin-top: $betweenElements;
  }
}
//Content
.paperCol{
  background-color: $primary;
  padding: $paddingElements;
  margin-bottom: $betweenElements;
  display: block;

  h2{
    font-size: 1.5em;
  }

  .row{
    div[class^="col-"]{
      margin-bottom: $betweenElements*2;
    }
  }
}
.contentBoxTitle{
  color: black;
  margin-bottom: 10px;
  padding: 3px 10px;
  text-align: center;
  font-size: 1.5em;
  &:after {
    content: "";
    height: 1px;
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(147,147,147,1) 50%, rgba(0,0,0,0) 100%);
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(147,147,147,1) 50%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(147,147,147,1) 50%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(147,147,147,1) 50%, rgba(0,0,0,0) 100%);

    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

//General
body{
   background-color: $secondary;
}
a{
  color: $secondary-darker;
  &:hover{
    color: $tertiary !important;
    text-decoration: none;
    cursor: pointer;
  }
}
.center{
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;

  div{
    margin-left: -50%;
  }

  &.loading{
    font-size: 2em;
    color: $secondary-darker;
  }
}

//Override Bootstrap
.row {
    $space: $betweenElements/2;

    margin-right: -$space;
    margin-left: -$space;
    div[class^="col-"],
    div[class^="menu"]{
      padding-right: $space;
      padding-left: $space;
    }
}

//it appeared that angular don't put their tag when it appended
//the buttonSublink is append in script.js
a.buttonSublink{
  $buttonSize: $buttonHeight/2.5;
  position: absolute;
  top:$buttonHeight/2 - $buttonSize/2;
  right:$buttonHeight/4;

  width: $buttonSize;
  height: $buttonSize;
  line-height: $buttonSize;

  border-radius: 25px;
  color:white;
  z-index: 15;

  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -ms-transition: all 500ms linear;
  transition: all 500ms linear;

  &:hover{
    background-color: $secondary;
  }
}
