app-root > .container {
  margin-top: 28px;
}

@media screen and (max-width: 767px) {
  app-root > .container {
    margin-top: 14px;
  }
}

.paperCol {
  background-color: white;
  padding: 16px;
  margin-bottom: 14px;
  display: block;
}

.paperCol h2 {
  font-size: 1.5em;
}

.paperCol .row div[class^="col-"] {
  margin-bottom: 28px;
}

.contentBoxTitle {
  color: black;
  margin-bottom: 10px;
  padding: 3px 10px;
  text-align: center;
  font-size: 1.5em;
}

.contentBoxTitle:after {
  content: "";
  height: 1px;
  background: -webkit-linear-gradient(left, transparent 0%, #939393 50%, transparent 100%);
  background: -moz-linear-gradient(left, transparent 0%, #939393 50%, transparent 100%);
  background: -o-linear-gradient(left, transparent 0%, #939393 50%, transparent 100%);
  background: linear-gradient(to right, transparent 0%, #939393 50%, transparent 100%);
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}

body {
  background-color: #4B607B;
}

a {
  color: #142840;
}

a:hover {
  color: #56CAC9 !important;
  text-decoration: none;
  cursor: pointer;
}

.center {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
}

.center div {
  margin-left: -50%;
}

.center.loading {
  font-size: 2em;
  color: #142840;
}

.row {
  margin-right: -7px;
  margin-left: -7px;
}

.row div[class^="col-"],
.row div[class^="menu"] {
  padding-right: 7px;
  padding-left: 7px;
}

a.buttonSublink {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 25px;
  color: white;
  z-index: 15;
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -ms-transition: all 500ms linear;
  transition: all 500ms linear;
}

a.buttonSublink:hover {
  background-color: #4B607B;
}
