$primary: white;
$primary-dark: #C6CED1;
$secondary-light: #a0b0c5;
$secondary: #4B607B;
$secondary-dark: #263A55;
$secondary-darker: #142840;
$tertiary: #56CAC9;

$paddingElements: 16px;
$betweenElements: 14px;
$iconSize: 1.5em;
$buttonHeight: 60px; //navbar button

$screen-xs-width: 480px;
$screen-sm-width: 768px;
$screen-md-width: 992px;
$screen-lg-width: 1200px;

//https://dcrazed.com/wp-content/uploads/2013/12/Blog-Magazine-UI-Kit.jpg

@mixin lookLikePaper($color) {
    background-color: $color;
    margin-bottom: $betweenElements;
    //-webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.3);
    //-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.3);
    //box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.3);
}
@mixin lookLikePaperPadding($color){
  @include lookLikePaper($color);
  padding: $paddingElements;
}
