@import '../../../variables.scss';

#header.row > div[class^="col-"] {
  $headerHeight: 60px;

  & > div{
    background-color: $primary;
    margin-bottom: $betweenElements;

    //center vertical
    height: $headerHeight;
    line-height: $headerHeight;
  }

  &:first-child > a{
      margin-bottom: $betweenElements;

      display: block;
      background-color: $tertiary;
      color: $primary;
      text-align: center;

      i{
        line-height: $headerHeight;
        &.fa{
          font-size: $iconSize;
        }
      }
      &:hover{
        background-color: $primary-dark;
        color: $primary !important;
      }
  }
  &:nth-child(2) > div{
    margin-bottom: $betweenElements;
    background-color: $primary;
    margin-left: -$betweenElements; //coller au menu button
    padding-left: $paddingElements;

    span{
      float: right;
      font-size: 2em;
      margin-right: $betweenElements*2;
    }
  }

  @media screen and (max-width: $screen-xs-width - 1) {
    $headerHeight: 40px;

    & > div{
      //center vertical
      height: $headerHeight;
      line-height: $headerHeight;
    }
    &:first-child > a{
      i{
        line-height: $headerHeight;
      }
    }
    &:nth-child(2) > div{
      padding-left: $paddingElements*1.5;
    }
  }
}
