<div id="header" class="row">
  <div class="col-xs-2 col-sm-1"> <!--garde le menu ouvert-->
    <a id="displayNavBar">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  <div class="col-xs-10 col-sm-11">
    <div id="headerNavigation">
      <div id="statistiqueLinks">
        <links-statistiques></links-statistiques>
      </div>
      <!--a>Lister</a-->
      <!--a>Créer</a-->
      <!--a>Éditer</a-->
      <!--a>Supprimer</a-->
      <span id="appTitle">Caapa</span>
    </div>
  </div>
</div>
