#header.row > div[class^="col-"] > div {
  background-color: white;
  margin-bottom: 14px;
  height: 60px;
  line-height: 60px;
}

#header.row > div[class^="col-"]:first-child > a {
  margin-bottom: 14px;
  display: block;
  background-color: #56CAC9;
  color: white;
  text-align: center;
}

#header.row > div[class^="col-"]:first-child > a i {
  line-height: 60px;
}

#header.row > div[class^="col-"]:first-child > a i.fa {
  font-size: 1.5em;
}

#header.row > div[class^="col-"]:first-child > a:hover {
  background-color: #C6CED1;
  color: white !important;
}

#header.row > div[class^="col-"]:nth-child(2) > div {
  margin-bottom: 14px;
  background-color: white;
  margin-left: -14px;
  padding-left: 16px;
}

#header.row > div[class^="col-"]:nth-child(2) > div span {
  float: right;
  font-size: 2em;
  margin-right: 28px;
}

@media screen and (max-width: 479px) {
  #header.row > div[class^="col-"] > div {
    height: 40px;
    line-height: 40px;
  }
  #header.row > div[class^="col-"]:first-child > a i {
    line-height: 40px;
  }
  #header.row > div[class^="col-"]:nth-child(2) > div {
    padding-left: 24px;
  }
}
