<div>
  <h1>Mise à jour du document</h1>
  <div class="row">
    <label for="" class="col-xs-4">Title : </label>
    <input type="text" class="col-xs-8" required>
  </div>
  <div class="row">
    <label for="" class="col-xs-4">Description : </label>
    <input type="text" class="col-xs-8">
  </div>
  <button type="submit" id="button">Mise à jour</button>
</div>
