<p-dataTable [value]="documents" [rows]="10" [paginator]="true">
    <p-column field="title" header="Label" styleClass="col-xs-3">
      <template let-col let-value="rowData" pTemplate type="body">
         <a routerLink="/documentReads/{{value.iddocument}}">{{ value.label }}</a>
      </template></p-column>
    <p-column field="description" header="Description" styleClass="col-xs-5"></p-column>
</p-dataTable>
<app-create [service]="documentService"></app-create>
