
<form class="form-style-9">

<h1>Créer une nouvelle demande</h1>
<div class="row">
  <h4>Assigné</h4>
    <p-dropdown [options]="assignees" [(ngModel)]="currentAssignee"  [style]="{'width':'100%'}" filter="filter" name="field4" class="field-style field-split align-left col-md-6" placeholder="Assigné"></p-dropdown>
  </div>

<div class="row">
  <h4>Référence</h4>
  <p-autoComplete [(ngModel)]="currentReference" [suggestions]="currentReferences" [size]="25"
  (completeMethod)="filterReferencesEvent($event)" field="description" name="field3" class="field-style field-split align-left col-md-6" placeholder="Reference" [minLength]="1"></p-autoComplete>
</div>

<div class="row">
  <h4>Client</h4>
  <p-dropdown [options]="clients" [(ngModel)]="currentClient"  [style]="{'width':'100%'}" filter="filter" name="field4" class="field-style field-split align-left col-md-6"></p-dropdown>
</div>

<div class="row">
  <h4>Description</h4>
<textarea rows="5" cols="30" class="form-control"  required minlength="1" maxlength="1000" name="description" class="field-style field-split align-left col-md-6" placeholder="Description" ngControl="description"
[(ngModel)]="newDemande.description" id="description"  #description="ngModel"></textarea>
</div>

<div class="row">
  <h4>Status</h4>
    <p-dropdown [options]="statusList" [(ngModel)]="selectedStatus" [style]="{'width':'30%'}" name="cboStatus" field="field1" name="field5"></p-dropdown>
</div>

  <div *ngIf="description.errors && (description.dirty || description.touched)"
   class="alert alert-danger">
  <div [hidden]="!description.errors.required">
    Description est requis.
  </div>
  <div [hidden]="!description.errors.minlength">
    Description doit avoir au moins 1 caractère.
  </div>
  <div [hidden]="!description.errors.maxlength">
    Description ne peut pas faire plus de 1000 caractères.
  </div>
</div>

<input type="submit" (click)="sendInformations()"  value="Créer" /> <input type="submit" value="Annuler" />

</form>
